@page "/addjob"
@using EasyPolicheck.Data;
@inject JobsService JobsService
@inject NavigationManager NavManager

<p>Nothing to see here yet.</p>

<h3>Job information</h3>

<input placeholder="Enter a title for this job" @bind="newJobTitle" />
<input placeholder="Select source directory" @bind="newSourceDir" />
<input placeholder="Select destination directory" @bind="newDestDir" />
<input placeholder="Enter language" @bind="newJobLang" />
<button onclick="@SaveNew">Save</button>

@code
{

    public List<JobInfo> jobs = new List<JobInfo>();
    string? newJobTitle;
    string? newSourceDir;
    string? newDestDir;
    string? newJobLang;

    public void SaveNew()
    {
        var fullJobs = JobsService.LoadJobs();
        jobs.Add(new JobInfo
            {
                JobTitle = newJobTitle,
                SourceDir = newSourceDir,
                DestDir = newDestDir,
                JobLang = newJobLang
            });

        jobs.AddRange(fullJobs);

        JobsService.SaveJobs(jobs);
        NavManager.NavigateTo("/managejobs");

    }
}
