@page "/addjob"
@using EasyPolicheck.Data;
@using System.Text.Json;
@using System.Text.Json.Nodes;
@inject JobsService JobsService
@inject NavigationManager NavManager

<p>Nothing to see here yet.</p>

<h3>Job information</h3>

<input placeholder="Enter a title for this job" @bind="newJobTitle" />
<input placeholder="Select source directory" @bind="newSourceDir" />
<input placeholder="Select destination directory" @bind="newDestDir" />
<input placeholder="Enter language" @bind="newJobLang" />
<button onclick="@SaveNew">Save</button>

@code
{

    public JsonArray jobList = new JsonArray();
    string? newJobTitle;
    string? newSourceDir;
    string? newDestDir;
    string? newJobLang;

    public void SaveNew()
    {
        jobList = JsonSerializer.Deserialize<JsonArray>(JobsService.LoadJobs());
        jobList.Add(new JobInfo
            {
                JobTitle = newJobTitle,
                SourceDir = newSourceDir,
                DestDir = newDestDir,
                JobLang = newJobLang
            });

        JobsService.SaveJobs(jobList);
        NavManager.NavigateTo("/managejobs");

    }
}
