@page "/addjob"
@using EasyPolicheck.Data;
@using System.Text.Json;
@using System.Text.Json.Nodes;
@using System.Linq;
@inject JobsService JobsService
@inject NavigationManager NavManager

<h3>New job information</h3>

<form>
    <div class="form-group">
        <label>Job title: </label>
        <input type="text" class="form-control" placeholder="Enter a title for this job" @bind="newJobTitle" />
    </div>
    <div class="form-group">
        <label>Source folder </label>
        <input type="text" class="form-control" placeholder="Select source directory" @bind="newSourceDir" />
    </div>
    <div class="form-group">
        <label>Output folder: </label>
        <input type="text" class="form-control" placeholder="Select an output directory" @bind="newDestDir" />
    </div>
    <div class="form-group mx-4">
        <button class="btn btn-primary" @onclick="SaveNew">Save</button>
    </div>
</form>

@code {

    List<JobInfo> JobsInfo = new List<JobInfo>();

    string? newJobTitle;
    string? newSourceDir;
    string? newDestDir;
    string? newJobLang = "en-US";

    protected override void OnInitialized()
    {
        var jobs = JobsService.LoadJobs();
        JobsInfo.AddRange(jobs);

    }

    public void SaveNew()
    {
        JobsInfo.Add(new JobInfo
            {
                Id = Guid.NewGuid().ToString(),
                JobTitle = newJobTitle,
                SourceDir = newSourceDir,
                DestDir = newDestDir,
                JobLang = newJobLang
            }
        );
        JobsService.SaveJobs(JobsInfo);
        NavManager.NavigateTo("managejobs");
        @* NavMe("managejobs", null); *@
    }

    public void NavMe(string url, string? rId)
    {
        if (rId == null)
        {
            NavManager.NavigateTo(url);
        }
        else
        {
            NavManager.NavigateTo(url + rId);
        }
    }

}
