@page "/deletejob"
@using EasyPolicheck.Data;
@using System.Text.Json;
@using System.Text.Json.Nodes;
@using System.Linq;
@inject JobsService JobsService
@inject NavigationManager NavManager

<h3>New job information</h3>

<div>
    <label>Job title: </label>
    <input placeholder="Enter a title for this job" @bind="newJobTitle" />
</div>
<div>
    <label>Source folder </label>
    <input placeholder="Select source directory" @bind="newSourceDir" />
</div>
<div>
    <label>Output folder: </label>
    <input placeholder="Select an output directory" @bind="newDestDir" />
</div>
<div>
    <label>Select job language </label>
    <input placeholder="Enter language" @bind="newJobLang" />
</div>



<button @onclick="SaveNew">Save</button>

@code {
    
    List<JobInfo> JobsInfo = new List<JobInfo>();

    string? newJobTitle;
    string? newSourceDir;
    string? newDestDir;
    string? newJobLang;

    protected override void OnInitialized()
    {
        var jobs = JobsService.LoadJobs();
        JobsInfo.AddRange(jobs);

    }

    public void SaveNew()
    {
        JobsInfo.Add(new JobInfo
            {
                JobTitle = newJobTitle,
                SourceDir = newSourceDir,
                DestDir = newDestDir,
                JobLang = newJobLang
            }
        );
        JobsService.SaveJobs(JobsInfo);
        @* JobsInfo.RemoveAt(3); Just a test*@
        NavManager.NavigateTo("/managejobs");
    }

}
