@page "/deletejob"
@page "/deletejob/{EditId}"
@using EasyPolicheck.Data;
@using System.Text.Json;
@using System.Linq;
@inject JobsService JobsService
@inject NavigationManager NavManager

<h3>Delete job</h3>

<div>
    <label>Job title: </label>
    <input disabled @bind="delJobTitle" />
</div>
<div>
    <label>Source folder </label>
    <input @bind="delSourceDir" />
</div>
<div class="mb-3">
    <label>Output folder: </label>
    <input @bind="delDestDir" />
</div>




<button @onclick="DeleteSave">Delete</button>

@code {

    [Parameter]
    public string? EditId { get; set; }

    string? delJobTitle;
    string? delSourceDir;
    string? delDestDir;

    List<JobInfo> JobsInfo = new List<JobInfo>();

    protected override void OnInitialized()
    {
        var jobs = JobsService.LoadJobs();
        JobsInfo.AddRange(jobs);

        foreach (var deleteItem in JobsInfo)
        {
            if (deleteItem.Id == EditId)
            {
                delJobTitle = deleteItem.JobTitle;
                delSourceDir = deleteItem.SourceDir;
                delDestDir = deleteItem.DestDir;
            }
        }
    }

    public void DeleteSave()
    {
        var delItem = JobsInfo.SingleOrDefault(r => r.Id == EditId);
        if (delItem != null)
        {
            JobsInfo.Remove(delItem);
        }
        
        JobsService.SaveJobs(JobsInfo);
        goPage("managejobs", string.Empty);
    }

    public void goPage(string url, string rId)
    {
        if (rId == string.Empty)
        {
            NavManager.NavigateTo(url);
        }
        else
        {
            NavManager.NavigateTo(url + rId);
        }
    }

}
