@page "/managejobs"
@using EasyPolicheck.Data;
@inject JobsService JobsService
@inject NavigationManager NavManager


<h2>Manage Jobs</h2>

@if (jobs == null || jobs.Count() ==0 )
{
    <p><em>No jobs found...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Source Dir</th>
                <th>Destination Dir</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobs )
            {
                <tr>
                    <td>@job.JobTitle</td>
                    <td>@job.SourceDir</td>
                    <td>@job.DestDir</td>
                    <td>@job.JobLang</td>
                </tr>
            }
        </tbody>
    </table>
}
<button class="btn btn-primary" onclick="window.location.href='/addjob'">Add Job</button>

@code {

    public List<JobInfo> jobs= new List<JobInfo>();
    protected override void OnInitialized()
    {
        var jobsList = JobsService.LoadJobs();
        jobs.AddRange(jobsList);
    }

    protected void OnAfterRender()
    {
   @*      var jobs = JobsService.LoadJobs(); *@
    }
}
