@page "/"
@using System.IO;
@using System;
@using System.Text.Json;
@using System.Text.Json.Serialization;


<div>
    @runStatus
    <button class="btn btn-primary" >Browse</button>

</div>


@code {

    string runStatus = "Verifying Policheck location";



    protected override async Task OnInitializedAsync()
    {
        string jsonText = await ReadData("wwwroot/data/policheckLocation.json");
        try
        {
            PolicheckLocated? policheckLocated = JsonSerializer.Deserialize<PolicheckLocated>(jsonText);
            Console.WriteLine($"Location: {policheckLocated?.Location}");
            Console.WriteLine($"Location: {policheckLocated.Found}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    public async Task<string> ReadData(string fName)
    {
        using var stream = await FileSystem.OpenAppPackageFileAsync(fName);
        using var reader = new StreamReader(stream);

        return await reader.ReadToEndAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            string poliInstall = Environment.GetFolderPath(Environment.SpecialFolder.DesktopDirectory) +
            @"\policheck\tools\policheck.exe";
            bool found = File.Exists(poliInstall);

            if (File.Exists(poliInstall))
            {
                Console.WriteLine("File exists");
            }
            else
            {
                Console.WriteLine("Can't find");
            }
            firstRender = false;

        }
        else
        {
            Console.WriteLine("Not first render");
        }
    }

        public class PolicheckLocated
    {
        public string? Location { get; set; }
        public bool Found { get; set; }
    }

}
