@page "/"
@using EasyPolicheck.Data;
@inject JobsService JobsService


<div>
    @runStatus
    <button class="btn btn-primary">Browse</button>
</div>


@code {

    string runStatus = "Verifying Policheck location";

    protected override void OnAfterRender(bool firstRender)
    {

        @* if (firstRender)
{
string poliInstall = Environment.GetFolderPath(Environment.SpecialFolder.DesktopDirectory) +
@"\policheck\tools\policheck.exe";
bool found = File.Exists(poliInstall);

if (File.Exists(poliInstall))
{
Console.WriteLine("File exists");
}
else
{
Console.WriteLine("Can't find");
}
firstRender = false;

}
else
{
Console.WriteLine("Not first render");
} *@
    }
}
