@page "/"
@using EasyPolicheck.Data;
@using System.Text.Json;
@using System.Linq;
@using CommunityToolkit.Maui.Storage;
@inject JobsService JobsService
@inject PolicheckService PolicheckService


<div>
    @runStatus
    <button class="btn btn-primary">Browse</button>
</div>


@code {

    public string? runStatus = "Verifying Policheck location";
    public string poliInstall = Environment.GetFolderPath(Environment.SpecialFolder.DesktopDirectory) +
    @"\policheck\tools\Policheck.exe";

    List<JobInfo> JobsInfo = new List<JobInfo>();
    List<PolicheckLocation> LocationInfo = new List<PolicheckLocation>();




    protected override void OnInitialized()
    {

        var jobs = JobsService.LoadJobs();
        JobsInfo.AddRange(jobs);

        var poliLocation = PolicheckService.LoadLocation();
        LocationInfo.AddRange(poliLocation);

        @* bool found = File.Exists(poliInstall); *@
        if (File.Exists(poliInstall))
        {
            runStatus = "Policheck located and ready to run.";
        }

        Console.WriteLine(poliInstall);

    }

    private async void browseFolder(bool temp)
    {
        var folder = await FolderPicker.PickAsync(default);
        if (folder.IsSuccessful)
        {
            //do something
        }
        else
        {
            //do something later
        }
    }
}
