@page "/"
@using System.IO;
@using System;
@using System.Text.Json;


<h1>Hello, world!</h1>

@Location.Location

Welcome to your new app.

@code {



 @*    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            string poliInstall = Environment.GetFolderPath(Environment.SpecialFolder.DesktopDirectory) +
            @"\policheck\tools\policheck.exe";
            bool found = File.Exists(poliInstall);

            if (File.Exists(poliInstall))
            {
                Console.WriteLine("File exists");
            }
            else
            {
                Console.WriteLine("Can't find");
            }
            firstRender = false;

        }
        else
        {
            Console.WriteLine("Not first render");
        }

    } *@

    @* private policheckLoc? Location;
    protected override async Task OnInitializedAsync() {
    Location = await Http.GetFromJsonAsync<policheckLoc>("data/policheckLoc.json");
    }


    public class policheckLoc
    {
        public string? Location {get; set; }
        public bool Found {get; set;}
    }
     *@

}
